# Ignore Python virtual environments
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# VSCode and other editor junk
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS/system files
.DS_Store
Thumbs.db
